body{
  background-color: #F0F0F0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(radial,
		  50% 0, 0,
		  50% 100, 500,
		  from(rgba(0, 0, 255, 0.5)),
		  to(rgba(0, 0, 255, 0)));
  background-repeat: no-repeat;
}
.test {
  position: absolute;
  background-color: black;
  top: 100px;
  left: 100px;
  border: 1px solid black;
  padding: 50px;
  -webkit-border-radius: 5px;
  color: #FFF;
  background-image: -webkit-gradient(radial,
		  50% 51, 1,
		  50% 70, 55,
		  from(rgba(255, 255, 255, 0.3)),
		  to(rgba(255, 255, 255, 0)));
  background-repeat: no-repeat;
}
.menu {
  position: absolute;
  top: 10px;
  right: 10px;
}
.menu div {
  -webkit-border-radius: 5px;
  border: 2px solid #00F;
  padding: 10px;
  background-color: #C0C0F0;
  margin: 4px;
}
.menu div code {
  display: block;
}
#wrapper {
  position:relative;
  z-index:1;
  height:600px;        /* Desired element height */
}
#scroller {
  height: 1120px;
}